.Outer_Card{
    height: 200px;
    padding: 20px;
    position: fixed; 
    background-color: #fff;
    z-index: 500 ;
    left: 15%;
    top: 10%;
    box-sizing : border-box;
    width: 70%;
    border-radius:10px;
    border:1px solid blue;
    margin-top: 100px;

    }



